@charset "utf-8";

/*以下全为首页的css样式，包括手机样式
 * 
 * 这些css其中大部分是自己写的，还有一部分是订制的bootstrap的风格* 
 * 另外，还有一部分样式是覆盖join.css公共css样式.
 * 具体样式，请按F12查看相应元素
 * 
 */

html,body{height: 100%;}
#lo-refresh {
  -webkit-animation: r1 1s infinite ease-in-out;
  animation: r1 1s infinite ease-in-out;
}
@keyframes r1 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#loading {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 99999;
  background: -webkit-linear-gradient(bottom right,#60ac5f 20%,#baeab1 100%);
  background: linear-gradient(to top left,#60ac5f 20%,#baeab1 100%);
}
.loadingbar {
  width: 100%;
  height:100%;
  position: relative;
  box-sizing: border-box;
  top: 40%;
  z-index: 9999;
  background: transparent;
}
.welcome {
  position: relative;
  top: 2.5em;
  color: #fff;
  font-size: 1.5em;
  -webkit-text-stroke: #008000 1px;
}
.welcome span {
  text-shadow: none;
}
.w-percent {
  color: #5cc2e0;
  position: relative;
  top: 50px;
  font-size: 1.2em;
}
* {
  z-index: 1;
  outline: none;
}
#slide-two {
  background: transparent;
  position: relative;
  font-size: 1.5em;
  padding: 10px 35px;
  outline: none;
  border: 1px solid black;
  cursor: pointer;
  z-index: 2;
  margin-top: 130px;
  transition: all 0.5s ease-in-out;
}
#slide-two:hover {
  background: #2a2a2a;
  color: #fff;
  font-size: 1.5em;
}
body,
html {
  font-family: "微软雅黑";
  background: #fff;
}
body input::-webkit-input-placeholder,
html input::-webkit-input-placeholder {
  color: #27ae60;
  font-size: 0.8em;
}
body input::-moz-placeholder,
html input::-moz-placeholder {
  color: #27ae60;
  font-size: 0.8em;
}
body input::-ms-input-placeholder,
html input::-ms-input-placeholder {
  color: #27ae60;
  font-size: 0.8em;
}
body ::-webkit-scrollbar,
html ::-webkit-scrollbar {
  width: 0px;
}
body button,
html button {
  outline: none !important;
}
body .returntop,
html .returntop {
  position: fixed;
  right: 0;
  bottom: 0;
  cursor: pointer;
}
body .returntop .icon,
html .returntop .icon {
  width: 120px;
  text-align: center;
  font-size: 1.8em;
  transition: all 1s ease-in-out;
  position: relative;
  top: 0px;
}
body .returntop .text,
html .returntop .text {
  width: 120px;
  text-align: center;
  opacity: 0;
  transition: all 1s ease-in-out;
  position: relative;
  top: 10px;
}
body .returntop:hover .icon,
html .returntop:hover .icon {
  width: 120px;
  text-align: center;
  font-size: 1.8em;
}
body .returntop:hover .text,
html .returntop:hover .text {
  width: 120px;
  text-align: center;
  opacity: 1;
  top: 0px;
}
#top-nav {
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  background: #fff;
  z-index: 999;
  position: fixed;
  width: 100%;
}
#top-nav .left {
  height: 60px;
}
#top-nav .left img {
  height: 40px;
  margin-top: 0px;
  margin-left: 30px;
  line-height: 60px;
  margin-top: 7px;
}
#top-nav .phone img {
  margin-top: 10px;
}
#top-nav .phone button {
  margin-top: 10px;
}
#top-nav .center {
  position: relative;
  padding: 0;
  height: 60px;
  z-index: 999;
}
#top-nav .center ul {
  width: 100%;
  text-align: center;
  display: block;
  line-height: 60px;
}
#top-nav .center ul li.midot {
  font-weight: 600;
}
#top-nav .center ul li>span {
  height: 1px;
  position: absolute;
  bottom: 0%;
  right: 100%;
  background: #000;
  width: 100%;
  opacity: 1;
  transition: all 0.6s ease-out;
}
#top-nav .center ul li:hover>span {
  right: -20px;
}
#top-nav .center ul li {
  clear: both;
  display: inline-block;
  position: relative;
  height: 60px;
  overflow: hidden;
}
#top-nav .center ul li a {
  cursor: pointer;
  padding: 2px 0px !important;
  font-family: "微软雅黑";
  color: #000;
  text-decoration: none;
  margin-left: 5px;
  margin-right: 5px;
}
#top-nav .center ul li a span {
  transform: scale(0.8,0.8);
}
#top-nav .right {
  height: 60px;
  line-height: 60px;
  padding-right: 30px;
}
#top-nav .right span {
  font-size: 0.8em;
}
#top-nav .right> span {
  cursor: pointer;
  margin-left: 5px;
  padding: 2px;
  box-sizing: border-box;
  border: 1px solid transparent;
}
#top-nav .right>span:hover {
  border: 1px solid black;
  border-radius: 10px;
  padding: 2px;
  box-sizing: border-box;
}
#footer {
  
  box-sizing: border-box;
  padding-top: 30px;
  background: -webkit-linear-gradient(bottom right,#60ac5f 20%,#baeab1 100%);
  background: linear-gradient(to top left,#60ac5f 20%,#baeab1 100%);
  z-index: 4 !important;
  margin-top: 30px;
  margin-top: 100px;
  color: #fff;
}
#footer .container {
  border: 1px dashed #fff;
  padding: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
}
#footer .container .title {
  font-size: 1.2em;
  margin-bottom: 10px;
}
#footer .container .content {
  font-style: 1em;
}
#footer .container p {
  margin-top: 5px;
  word-break: break-all;
}
#footer .container a {
  text-decoration: none;
  color: #fff;
  font-size: 0.9em;
}
#footer .container a:hover {
  color: #000;
}
#footer .container img {
  width: 40px;
  height: 40px;
  cursor: pointer;
  float: left;
}
#footer .container img:first-child {
  transform: scale(0.9,0.9);
}
#footer .container .f4 {
  font-family: "微软雅黑";
  font-size: 0.9em;
}
#footer .container #wechat {
  width: 120px;
  height: 120px;
  margin-left: -20px;
  transition: all 1s ease-in-out;
  border: 1px solid #fff;
}
#footer .container #wechat:hover {
  transform: scale(1.2,1.2) translateX(10px);
  cursor: none;
}
#footer .copyright {
  background: #489e37;
  text-align: center;
  width: 100% !important;
  padding: 0;
  margin: 0;
  height: 50px;
  line-height: 50px;
  position: relative;
  bottom: 0;
  color: #fff;
  white-space: nowrap;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.modal {
  margin-top: 10%;
}
#wrap {
  background: #797979;
  background: -webkit-linear-gradient(bottom right,#2b8719 20%,#fff 100%);
  background: linear-gradient(to top left,#2b8719 20%,#fff 100%);
  background-attachment: fixed;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  overflow: hidden;
  z-index: 1;
  margin-bottom: 0;
  padding-bottom: 0;
}
#wrap .row {
  margin: 0;
  padding: 0;
}
#first {
  overflow: auto;
  padding-bottom: 0;
  margin-bottom: 0;
  background: url(../img/heye.png) 10% 150px no-repeat, url(../img/index-bg.png) 95% 120px no-repeat;
  background-attachment: fixed;
  text-align: center;
}
#first .jumbotron {
  padding-top: 40px;
  padding-bottom: 0;
  padding-top: 160px;
  background: transparent;
}
#first .jumbotron h1 {
  font-size: 63px;
  text-shadow: 0px 3px 10px #fff;
  font-weight: 500;
  color: #3C3C3C;
}
#first .jumbotron h2 {
  font-size: 36px;
  text-shadow: 0px 3px 5px #fff;
}
#first .jumbotron h2 {
  margin-top: 30px;
}
#first .jumbotron p {
  margin-top: 30px;
}
#first #visitor {
  display: inline-block;
  width: 60px;
  height: 1em;
  position: relative;
  padding: 0;
  font-size: 1.2em;
  color: red;
}
#first #visitor span {
  height: 1.2em;
  display: inline;
  width: 100%;
  margin: 0;
  animation: count1 2s ease-in-out infinite;
  position: absolute;
  top: 0px;
  left: 0px;
}
#first .slide-button {
  background: transparent;
  position: relative;
  font-size: 0.7em;
  padding: 10px 25px;
  outline: none;
  border: 1px solid black;
  cursor: pointer;
  margin-top: 30px;
  z-index: 2;
  transition: all 0.5s ease-in-out;
}
#first .slide-button:hover {
  background: #2a2a2a;
  color: #fff;
  font-size: 0.7em;
}
@-webkit-keyframes count1 {
  0% {
    transform: scale(1,1);
    font-size: 1em;
  }
  50% {
    transform: scale(1.3,1.3);
    font-size: 1em;
  }
  100% {
    transform: scale(1.0,1.0);
    font-size: 1em;
  }
}
@keyframes count1 {
  0% {
    transform: scale(1,1);
    font-size: 1em;
  }
  50% {
    transform: scale(1.3,1.3);
    font-size: 1em;
  }
  100% {
    transform: scale(1.0,1.0);
    font-size: 1em;
  }
}
#wrap1 {
  padding-bottom: 300px;
  background: #797979;
  background: url(../img/heye.png) #c3ddbd no-repeat center 300px;
  background-attachment: fixed;
  z-index: 2;
  box-sizing: border-box;
  width: 100%;
}
#wrap1 .row {
  background: #fff;
}
#wrap1 .container,
#wrap1 .me {
  background: #fff;
  z-index: 1;
}
#wrap1 .container .title,
#wrap1 .me .title {
  background: #fff;
  z-index: 1;
  margin-top: 100px;
}
#wrap1 .container .title h1,
#wrap1 .me .title h1 {
  font-size: 3em;
  font-weight: 500;
  line-height: 100%;
}
#wrap1 .container .content,
#wrap1 .me .content {
  background: #fff;
  z-index: 1;
  padding-top: 50px;
}
#wrap1 .container .content p,
#wrap1 .me .content p {
  font-size: 1.1em;
  margin-bottom: 20px;
}
#wrap1 .img-area1 {
  background: #fff;
  position: relative;
  padding: 0;
  margin: 0;
  margin-top: 40px;
  z-index: 2;
}
#wrap1 .img-area1 div {
  height: 350px;
  margin-top: 60px;
}
#wrap1 .img-area1 .label,
#wrap1 .img-area1 img {
  height: 380px;
  margin-top: 0%;
  margin-bottom: 5%;
  width: 100%;
  cursor: pointer;
}
#wrap1 .img-area1 .label {
  position: absolute;
  top: 0px;
  left: 4%;
  height: 380px;
  width: 93%;
  background: rgba(255,255,255,0.9);
  cursor: pointer;
  opacity: 0.8;
  transition: all 1s ease-in-out;
  border: 2px solid #abcfa3;
}
#wrap1 .img-area1 .label .label-title {
  font-size: 2em;
  color: #000;
  top: 15%;
  transition: all 1s ease-in-out;
  position: relative;
  height: 40px;
  line-height: 40px;
}
#wrap1 .img-area1 .label .label-content {
  font-size: 2em;
  color: #000;
  top: 0%;
  transition: all 1s ease-in-out;
  position: relative;
  height: 40px;
  line-height: 40px;
}
#wrap1 .img-area1 .label:hover {
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
#wrap1 .img-area1 .label:hover img {
  border: 4px solid #abcfa3;
}
#wrap1 .img-area1 .label:hover .label-title {
  font-size: 2em;
  color: #000;
  top: 0%;
}
#wrap1 .img-area1 .label:hover .label-content {
  font-size: 2em;
  color: #000;
  top: 10%;
}
#wrap1 .me2 {
  padding: 0;
  margin: 0;
  height: auto;
  background: #fff;
  z-index: 1;
}
#wrap1 .me2 .title {
  margin-top: 140px;
}
#wrap1 .me2 .title h1 {
  font-size: 3em;
  font-weight: 500;
  line-height: 100%;
}
#wrap1 .me2 .content {
  padding-top: 50px;
  padding-bottom: 50px;
}
#wrap1 .me2 .content p {
  font-size: 1.1em;
  margin-bottom: 20px;
}
#wrap1 .me2 .content p a {
  text-decoration: none;
  color: #000;
}
#wrap2 {
  background: #797979;
  background: -webkit-linear-gradient(bottom right,#60ac5f 20%,#fff 100%);
  background: linear-gradient(to top left,#60ac5f 20%,#fff 100%);
  background-attachment: fixed;
  z-index: 2 !important;
}
#wrap2 .row {
  background: #fff;
  border: 1px solid #abcfa3;
  z-index: 1;
}
#wrap2 .row .container {
  background: #fff;
  z-index: 1;
  margin-top: 70px;
  margin-bottom: 70px;
  text-align: center;
}
#wrap2 .row .container .title {
  font-size: 5em;
  z-index: 2;
  background: #fff;
}
#wrap2 .row .container .footer {
  font-size: 1.2em;
  margin-top: 50px;
  background: #fff;
  z-index: 2;
}
#wrap2 .bg {
  width: 100%;
  height: 300px;
  background: url(../img/heye1.png) no-repeat center 200px;
  background-attachment: fixed;
}
#wrap3 {
  height: auto;z-index: 3 !important;
}
#wrap3 .row {
  background: #fff;
  z-index: 1;
}
#wrap3 .row .we {
  padding: 20px 0px;
}
#wrap3 .row .we .cube-wrap {
  margin: 0;
  padding: 0;
  z-index: 1;
}
#wrap3 .row .we .img-area2 {
  z-index: 1;
  padding: 0;
  margin: 0;
}
#wrap3 .row .we .img-area2 .lover {
  padding: 0;
  margin: 0;
}
#wrap3 .row .we .img-area2 .lover div {
  padding: 40px 5px;
  text-align: center;
}
#wrap3 .row .we .img-area2 .lover div img {
  height: 300px;
  max-width: 400px;
  cursor: pointer;
}
#wrap3 .row .we .img-area2 .lover div img:hover {
  border: 1px solid gray;
}
#wrap3 .row .we .title {
  background: #fff;
  font-size: 3em;
  margin-top: 120px;
  text-align: right;
  z-index: 1;
}
#wrap3 .row .we .content {
  z-index: 1;
  background: #fff;
}
#wrap3 .row .we .content p {
  margin-bottom: 20px;
  font-size: 1.1em;
}
#wrap3 .row .we .box {
  position: relative;
  cursor: pointer;
  margin-top: 0px auto;
  -webkit-transition: transform .6s;
  transition: transform .6s;
}
#wrap3 .row .we .cude {
  width: 200px;
  height: 200px;
  position: relative;
  margin: 100px auto;
  font-family: '微软雅黑';
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: rotateX(-30deg) rotateY(-80deg);
  -moz-transform: rotateX(-30deg) rotateY(-80deg);
  -ms-transform: rotateX(-30deg) rotateY(-80deg);
  -o-transform: rotateX(-30deg) rotateY(-80deg);
  transform: rotateX(-30deg) rotateY(-80deg);
  transform-origin: 50% 50% 0;
  -webkit-transform-origin: 50% 50% 0;
  -webkit-animation: rotate 20s infinite;
  animation: rotate 20s infinite;
}
#wrap3 .row .we .surface {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
  background: #FFF;
  opacity: 0.98;
  font-size: 1.1em;
  text-align: center;
  line-height: 200px;
  color: black;
  border: none;
  -webkit-transition: all 1s;
  transition: all 1s;
}
#wrap3 .row .we .surface img {
  width: 100%;
  opacity: 1;
  height: 100%;
}
#wrap3 .row .we .front {
  -ms-transform: rotateY(0) translateZ(100px);
  -webkit-transform: rotateY(0) translateZ(100px);
  -moz-transform: rotateY(0) translateZ(100px);
  -o-transform: rotateY(0) translateZ(100px);
  transform: rotateY(0) translateZ(100px);
}
#wrap3 .row .we .back {
  -ms-transform: translateZ(-100px) rotateY(180deg);
  -webkit-transform: translateZ(-100px) rotateY(180deg);
  -moz-transform: translateZ(-100px) rotateY(180deg);
  -o-transform: translateZ(-100px) rotateY(180deg);
  transform: translateZ(-100px) rotateY(180deg);
}
#wrap3 .row .we .left {
  -ms-transform: rotateY(-90deg) translateZ(100px);
  -webkit-transform: rotateY(-90deg) translateZ(100px);
  -moz-transform: rotateY(-90deg) translateZ(100px);
  -o-transform: rotateY(-90deg) translateZ(100px);
  transform: rotateY(-90deg) translateZ(100px);
}
#wrap3 .row .we .right {
  -ms-transform: rotateY(90deg) translateZ(100px);
  -webkit-transform: rotateY(90deg) translateZ(100px);
  -moz-transform: rotateY(90deg) translateZ(100px);
  -o-transform: rotateY(90deg) translateZ(100px);
  transform: rotateY(90deg) translateZ(100px);
}
#wrap3 .row .we .top {
  -ms-transform: rotateX(90deg) translateZ(100px);
  -webkit-transform: rotateX(90deg) translateZ(100px);
  -moz-transform: rotateX(90deg) translateZ(100px);
  -o-transform: rotateX(90deg) translateZ(100px);
  transform: rotateX(90deg) translateZ(100px);
}
#wrap3 .row .we .bottom {
  -ms-transform: rotateX(90deg) translateZ(-100px);
  -webkit-transform: rotateX(90deg) translateZ(-100px);
  -moz-transform: rotateX(90deg) translateZ(-100px);
  -o-transform: rotateX(90deg) translateZ(-100px);
  transform: rotateX(90deg) translateZ(-100px);
}
#wrap3 .row .we .cude:hover .surface {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
  background: #FFF;
  opacity: 0.01;
  font-size: 30px;
  text-align: center;
  line-height: 200px;
  color: gainsboro;
}
#wrap3 .row .we .cude:hover .surface-in img {
  border: 1px solid #ccc;
}
#wrap3 .row .we .cude:hover {
  -webkit-animation-duration: 25s;
  -moz-animation-duration: 25s;
  -o-animation-duration: 25s;
  animation-duration: 25s;
}
#wrap3 .row .we .cude:hover .front {
  -webkit-transform: rotateY(0) translateZ(150px);
  -moz-transform: rotateY(0) translateZ(150px);
  -ms-transform: rotateY(0) translateZ(150px);
  -o-transform: rotateY(0) translateZ(150px);
  transform: rotateY(0) translateZ(150px);
}
#wrap3 .row .we .cude:hover .back {
  -webkit-transform: translateZ(-150px) rotateY(180deg);
  -moz-transform: translateZ(-150px) rotateY(180deg);
  -ms-transform: translateZ(-150px) rotateY(180deg);
  -o-transform: translateZ(-150px) rotateY(180deg);
  transform: translateZ(-150px) rotateY(180deg);
}
#wrap3 .row .we .cude:hover .left {
  -webkit-transform: rotateY(-90deg) translateZ(150px);
  -moz-transform: rotateY(-90deg) translateZ(150px);
  -ms-transform: rotateY(-90deg) translateZ(150px);
  -o-transform: rotateY(-90deg) translateZ(150px);
  transform: rotateY(-90deg) translateZ(150px);
}
#wrap3 .row .we .cude:hover .right {
  -webkit-transform: rotateY(90deg) translateZ(150px);
  -moz-transform: rotateY(90deg) translateZ(150px);
  -ms-transform: rotateY(90deg) translateZ(150px);
  -o-transform: rotateY(90deg) translateZ(150px);
  transform: rotateY(90deg) translateZ(150px);
}
#wrap3 .row .we .cude:hover .top {
  -webkit-transform: rotateX(90deg) translateZ(150px);
  -moz-transform: rotateX(90deg) translateZ(150px);
  -ms-transform: rotateX(90deg) translateZ(150px);
  -o-transform: rotateX(90deg) translateZ(150px);
  transform: rotateX(90deg) translateZ(150px);
}
#wrap3 .row .we .cude:hover .bottom {
  -webkit-transform: rotateX(90deg) translateZ(-150px);
  -moz-transform: rotateX(90deg) translateZ(-150px);
  -ms-transform: rotateX(90deg) translateZ(-150px);
  -o-transform: rotateX(90deg) translateZ(-150px);
  transform: rotateX(90deg) translateZ(-150px);
}
@-webkit-keyframes rotate {
  #wrap3 .row .we from {
    -webkit-transform: rotateX(0deg) rotateY(0deg);
    -moz-transform: rotateX(0deg) rotateY(0deg);
    -ms-transform: rotateX(0deg) rotateY(0deg);
    -o-transform: rotateX(0deg) rotateY(0deg);
    transform: rotateX(0deg) rotateY(0deg);
  }
  #wrap3 .row .we to {
    -webkit-transform: rotateX(360deg) rotateY(360deg);
    -moz-transform: rotateX(360deg) rotateY(360deg);
    -ms-transform: rotateX(360deg) rotateY(360deg);
    -o-transform: rotateX(360deg) rotateY(360deg);
    transform: rotateX(360deg) rotateY(360deg);
  }
}
@keyframes rotate {
   		from {
    -webkit-transform: rotateX(0deg) rotateY(0deg);
    -moz-transform: rotateX(0deg) rotateY(0deg);
    -ms-transform: rotateX(0deg) rotateY(0deg);
    -o-transform: rotateX(0deg) rotateY(0deg);
    transform: rotateX(0deg) rotateY(0deg);
  }
 		to {
    -webkit-transform: rotateX(360deg) rotateY(360deg);
    -moz-transform: rotateX(360deg) rotateY(360deg);
    -ms-transform: rotateX(360deg) rotateY(360deg);
    -o-transform: rotateX(360deg) rotateY(360deg);
    transform: rotateX(360deg) rotateY(360deg);
  }
}
#wrap3 .row .we .surface-in {
  width: 150px;
  height: 150px;
  position: absolute;
  top: 25%;
  left: 25%;
  margin-top: -25px;
  margin-left: -25px;
}
#wrap3 .row .we .surface-in img {
  width: 150px;
  height: 150px;
}
#wrap3 .row .we .front-in {
  -webkit-transform: rotateY(0deg) translateZ(75px);
  -moz-transform: rotateY(0deg) translateZ(75px);
  -ms-transform: rotateY(0deg) translateZ(75px);
  -o-transform: rotateY(0deg) translateZ(75px);
  transform: rotateY(0deg) translateZ(75px);
}
#wrap3 .row .we .back-in {
  -webkit-transform: rotateY(180deg) translateZ(75px);
  -moz-transform: rotateY(180deg) translateZ(75px);
  -ms-transform: rotateY(180deg) translateZ(75px);
  -o-transform: rotateY(180deg) translateZ(75px);
  transform: rotateY(180deg) translateZ(75px);
}
#wrap3 .row .we .left-in {
  -webkit-transform: rotateY(-90deg) translateZ(75px);
  -moz-transform: rotateY(-90deg) translateZ(75px);
  -ms-transform: rotateY(-90deg) translateZ(75px);
  -o-transform: rotateY(-90deg) translateZ(75px);
  transform: rotateY(-90deg) translateZ(75px);
}
#wrap3 .row .we .right-in {
  -webkit-transform: rotateY(90deg) translateZ(75px);
  -moz-transform: rotateY(90deg) translateZ(75px);
  -ms-transform: rotateY(90deg) translateZ(75px);
  -o-transform: rotateY(90deg) translateZ(75px);
  transform: rotateY(90deg) translateZ(75px);
}
#wrap3 .row .we .top-in {
  -webkit-transform: rotateX(90deg) translateZ(-75px);
  -moz-transform: rotateX(90deg) translateZ(-75px);
  -ms-transform: rotateX(90deg) translateZ(-75px);
  -o-transform: rotateX(90deg) translateZ(-75px);
  transform: rotateX(90deg) translateZ(-75px);
}
#wrap3 .row .we .bottom-in {
  -webkit-transform: rotateX(-90deg) translateZ(-75px);
  -moz-transform: rotateX(-90deg) translateZ(-75px);
  -ms-transform: rotateX(-90deg) translateZ(-75px);
  -o-transform: rotateX(-90deg) translateZ(-75px);
  transform: rotateX(-90deg) translateZ(-75px);
}
@media screen and (max-width: 767px) {
  #footer{z-index: 4 !important;}
  #footer .content{
    border-bottom: 1px dashed #fff !important;
    margin: 10px 0 10px 0 !important;
  }
  .mapbox {
    margin: 0 auto;
    z-index: 3 !important;
    width: 400px;
    height: 200px;
    line-height: 200px;
    text-align: center;
    font-size: 25px;
    color: #fff;
    position: relative;
    cursor: pointer;
    transform: scale(0.6,0.6);
    left: 0 !important;
  }
  .mapbox label {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #27AE60;
    font-family: "微软雅黑";
    font-weight: normal;
    background: #fff;
    z-index: 3 !important;
  }
  .mapbox canvas {
    position: absolute;
    left: 0px !important;
    top: 0;
    z-index: 3;
    width: 300px !important;
    border: 1px solid #abcfa3;
  }
  #wrap6 {
    background: #fff;
    z-index: 1;
    width: 100%;
  }
  #wrap6 .row {
    position: relative;
  }
  #wrap6 .row .title {
    font-size: 2em !important;
    text-align: center;
    margin: 20px 0 !important;
    padding: 0;
  }
  #wrap6 .row .title h4 {
    margin: 60px 0px 20px 0;padding: 20px !important;font-size:16px !important;
  }
  #wrap6 .row .content {
    width: 100%;
    height: 200px !important;
    z-index: 2;
    padding: 0;
  }
  #wrap6 .row .content img {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    width: 250px !important;
  }
  #wrap6 .row .footer img {
    width: 250px !important;
  }
  #wrap5 {
    z-index: 1;
    width: 100%;
  }
  #wrap5 .row {
    padding: 20px;
  }
  #wrap5 .row .title {
    font-size: 2em !important;
    text-align: center;
    margin: 10px 0 60px 0 !important;
    padding: 0;
  }
  #wrap5 .row .thumbnail {
    cursor: pointer;
    margin-top: 40px;
    z-index: 3;
    padding: 5px 0 !important;
  }
  #wrap5 .row .thumbnail img {
    height: 300px !important;
  }
  #wrap5 .row .thumbnail .caption {
    margin: 5px 0;
    opacity: 0.3;
  }
  #wrap5 .row .thumbnail .caption p {
    font-size:16px !important;
    margin:5px 0 !important;
    line-height:1.2em !important;
  }
  #wrap5 .row .thumbnail .caption p a {
    margin-top: 5px;
    margin-left: 10px;
  }
  #wrap5 .row .title {
    font-size:2em !important;
    text-align: center;
    margin: 20px 0 !important;
    padding: 0;
}

#wrap5 .row .thumbnail {
    cursor: pointer;
    margin:10px 0px 0px 0px !important;
    z-index: 3;
    padding: 5px 0 !important;
}
.thumbnail .caption {
    padding:0px  40px;
    color: #333;
    font-size:16px !important;
    text-align: center !important;
}
.thumbnail .caption h3{
	text-align: center;
	font-size: 20px !important;
}


  #wrap4 {
    background: url(../img/love.png) no-repeat center 100px;
    z-index:3 !important;
    background-attachment: fixed;
    padding: 0;
    margin: 0;
    padding-bottom: 300px;
  }
  #wrap4 .container {
    padding: 0;
    z-index: 1;
    background: #fff;
  }
  #wrap4 .aboutwe {
    padding: 0;
    margin: 0;
  }
  #wrap4 .aboutwe .we-title {
    font-size: 2em !important;
    margin: 40px 0 !important;
    margin-bottom: 40px;
  }
  #wrap4 .aboutwe .we-content {
    margin: 0;
    padding: 0;
    background: #fff;
    z-index: 1;
  }
  #wrap4 .aboutwe .we-content .we-pic {
    cursor: pointer;
    height: auto !important;
    padding: 20px 10px;
    position: relative;
    z-index: 2;
    overflow: hidden !important;
  }
  #wrap4 .aboutwe .we-content .we-pic .text-wrap {
    position: absolute;
    max-width: 100% !important;
    height: 1000% !important;
    background: rgba(0,0,0,0.6);
    top: 20px;
    left: 10px;
    z-index: 1;
  }
  #wrap4 .aboutwe .we-content .we-pic .text-wrap .title {
    font-size: 0.8em !important;
    color: #fff;
    padding: 0px 10px;
    position: absolute;
    width: 100%;
    height: auto;
    top: 0px;
  }

  #wrap4 .aboutwe .we-content .we-pic .text-wrap .title .footer {
    font-size: 0.8em !important;
    color: #fff;
    padding: 20px 10px;
  }
  #wrap4 .aboutwe .we-content .we-pic .img-wrap {
    position: absolute;
    width: 100% !important;
    height: 100% !important;
    top: 0;
    background: #fff;
    cursor: pointer;
    opacity: 0.95;
    z-index: 3;
  }
  #wrap4 .aboutwe .we-content .we-pic .img-wrap .title {
    position: absolute;
    width: 100%;
    height: 50px !important;
    font-size: 1em;
    text-align: center !important;
    top: 60%;
  }
  #wrap4 .aboutwe .we-content .we-pic img {
    border: 1px solid gainsboro;
    cursor: pointer;
    min-width: 150px !important;
    height: 100%;
    z-index: 1;
  }
  #wrap4 .aboutwe .we-content .imgs {
    float: right;
  }
  #wrap3 {
    height: auto;
  }
  #wrap3 .row {
    background: #fff;
    z-index: 1;
  }
  #wrap3 .row .we {
    padding: 20px 0px;
  }
  #wrap3 .row .we .cube-wrap {
    margin: 0;
    padding: 0;
    z-index: 1;
  }
  #wrap3 .row .we .img-area2 {
    z-index: 1;
    padding: 0;
    margin: 0;
  }
  #wrap3 .row .we .img-area2 .lover {
    padding: 0;
    margin: 0;
  }
  #wrap3 .row .we .img-area2 .lover div {
    padding: 0px 5px !important;
    text-align: center !important;
    max-width: 200px !important;
  }
  #wrap3 .row .we .img-area2 .lover div img {
    max-width: 200px !important;
    cursor: pointer;
  }
  #wrap3 .row .we .img-area2 .lover div img:hover {
    border: 1px solid gray;
    z-index: 2;
  }
  #wrap3 .row .we .img-area2 .lover div {
    padding: 0px 5px !important;
    text-align: center;
    /*width: !important;*/
    height: 300px !important;
    z-index: 6 !important;
}
#wrap4 .aboutwe {
    padding: 0;
    margin:120px 0px  0 0 !important;
}
  #wrap3 .row .we .title {
    background: #fff;
    font-size: 2em;
    margin: 40px 0 20px 10px !important;
    text-align: center !important;
    z-index: 1;
    margin-top: 0 !important;
  }
  #wrap3 .row .we .content {
    z-index: 1;
    background: #fff;
  }
  #wrap3 .row .we .content p {
    margin-bottom: 20px;
    font-size: 1.1em;
    padding: 0 20px;
  }
  #wrap2 .row .container {
    margin-top: 50px !important;
    margin-bottom: 70px;
  }
  #wrap2 .row .container .title {
    font-size: 2.1em !important;
    z-index: 2;
    background: #fff;
  }
  #wrap2 .row .container {
    margin-top: 30px !important;
    margin-bottom:40px !important;
	}
	#wrap2 .bg {
    width: 100%;
    height:170px;
    background: url(http://localhost/responsivesite/css/../img/heye1.png) no-repeat center 200px;
    background-attachment: fixed;
}
#slide-two {
    background: transparent;
    position: relative;
    font-size: 1.5em;
    padding: 10px 35px;
    outline: none;
    border: 1px solid black;
    cursor: pointer;
    z-index: 2;
    margin-top: 55px;
    transition: all 0.5s ease-in-out;
}
	
  #wrap2 .row .container .footer {
    font-size: 1.2em;
    margin-top: 30px !important;
    background: #fff;
    z-index: 2;
  }
  #wrap1 .container,
  #wrap1 .me {
    background: #fff;
    z-index: 1;
  }
  #wrap1 .container .title,
  #wrap1 .me .title {
    background: #fff;
    z-index: 1;
    margin-top: 100px;
  }
  #wrap1 .container .title h1,
  #wrap1 .me .title h1 {
    font-size: 2em;
    font-weight: 500;
    line-height: 100%;
    text-align: center;
  }
  #wrap1 .container .content,
  #wrap1 .me .content {
    background: #fff;
    z-index: 1;
    padding-top: 50px;
  }
  #wrap1 {
    padding-bottom:150px !important;
 
}
  #wrap1 .container .content p,
  #wrap1 .me .content p {
    font-size: 1.1em;
    margin-bottom: 20px;
  }
  #wrap1 .img-area1 {
    background: #fff;
    position: relative;
    padding: 0;
    margin: 0;
    margin-top: 40px;
    z-index: 2;
  }
  #wrap1 .img-area1 div {
    height: 300px !important;
    margin-top: 20px !important;
  }
  #wrap1 .img-area1 .label,
  #wrap1 .img-area1 img {
    max-height: 230px !important;
    margin-top: 0%;
    margin-bottom: 5%;
    max-width: 280px !important;
    cursor: pointer;
  }
  #wrap1 .img-area1 .label {
    position: absolute;
    top: -20px !important;
    left: 5% !important;
    height: 95% !important;
    width: 90% !important;
    background: rgba(255,255,255,0.9);
    cursor: pointer;
    opacity: 0.8;
    transition: all 1s ease-in-out;
    border: 2px solid #abcfa3;
    display: none !important;
  }
  #wrap1 .img-area1 .label .label-title {
    font-size: 1em !important;
    color: #000;
    top: 10% !important;
    transition: all 1s ease-in-out;
    position: relative;
    height: 40px;
    line-height: 20px !important;
  }
  #wrap1 .img-area1 div {
    height: 260px !important;
    margin-top:0px !important;
	}
	.img-area1 img {
    height: 200px !important;
    margin-top: 0%;
    margin-bottom: 5%;
    max-width: 280px !important;
    cursor: pointer;
}
  #wrap1 .img-area1 .label .label-content {
    font-size: 1em !important;
    color: #000;
    top: 0%;
    transition: all 1s ease-in-out;
    position: relative;
    height: 40px;
    line-height: 20px !important;
  }
  #wrap1 .container .content, #wrap1 .me .content {
    background: #fff;
    z-index:2;
    padding-top:20px;
}
  #wrap1 .me {
    margin-top:20px !important;
	}
  #wrap1 .container .title, #wrap1 .me .title {
    background: #fff;
    z-index: 1;
    margin-top:0px;
	}
  #wrap1 .me {
    margin-top: 50px;
  }
  #wrap {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    overflow: hidden;
    z-index: 3 !important;
  }
  #wrap .row {
    margin: 0;
    padding: 0;
  }
  #first {
    background: none;
  }
  #first .jumbotron{padding-top: 80px;}
  #first .slide-button {
    background: transparent;
    position: relative;
    font-size: 0.7em;
    padding: 10px 25px;
    outline: none;
    border: 1px solid black;
    cursor: pointer;
    margin-top:10px;
    z-index: 2;
    transition: all 0.5s ease-in-out;
}
  .jumbotron h1 {
    font-size: 36px !important;
    font-weight: normal !important;
  }
  .jumbotron h2 {
    font-size: 24px !important;
  }
  .mapbox{
  	line-height: 150px !important;
  }
  .mapbox label {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #27AE60;
    font-family: "微软雅黑";
    font-weight: normal;
    background: #fff;
    z-index: 1;
    margin-left: -60px !important;
		margin-top: -10px !important; 
		height: 150px !important;width: 300px !important;   
		
}
}


#wrap.form-success .container h1 {
  -webkit-transform: translateY(85px);
  transform: translateY(85px);
}
.container h1 {
  font-size: 40px;
  -webkit-transition-duration: 10s;
  transition-duration: 0s;
  -webkit-transition-timing-function: ease-in-put;
  transition-timing-function: ease-in-put;
  font-weight: 200;
}
.bg-bubbles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.bg-bubbles li {
  position: absolute;
  list-style: none;
  display: block;
  width: 60px;
  height: 60px;
  background-color: rgba(255,255,255,0.15);
  bottom: -160px;
  -webkit-animation: square 7s infinite;
  animation: square 7s infinite;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
}
.bg-bubbles li:nth-child(1) {
  left: 10%;
}
.bg-bubbles li:nth-child(2) {
  left: 20%;
  width: 80px;
  height: 80px;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  -webkit-animation-duration: 10s;
  animation-duration: 10s;
}
.bg-bubbles li:nth-child(3) {
  left: 25%;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}
.bg-bubbles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  -webkit-animation-duration: 20s;
  animation-duration: 20s;
  background-color: rgba(255,255,255,0.25);
}
.bg-bubbles li:nth-child(5) {
  left: 70%;
}
.bg-bubbles li:nth-child(6) {
  left: 80%;
  width: 45px;
  height: 45px;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  background-color: rgba(255,255,255,0.2);
}
.bg-bubbles li:nth-child(7) {
  left: 32%;
  width: 75px;
  height: 75px;
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}
.bg-bubbles li:nth-child(8) {
  left: 55%;
  width: 50px;
  height: 50px;
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
  -webkit-animation-duration: 20s;
  animation-duration: 20s;
}
.bg-bubbles li:nth-child(9) {
  left: 25%;
  width: 39px;
  height: 39px;
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
  -webkit-animation-duration: 15s;
  animation-duration: 15s;
  background-color: rgba(255,255,255,0.3);
}
.bg-bubbles li:nth-child(10) {
  left: 90%;
  width: 88px;
  height: 88px;
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
}
@-webkit-keyframes square {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-800px) rotate(600deg);
    transform: translateY(-800px) rotate(600deg);
  }
}
@keyframes square {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-800px) rotate(600deg);
    transform: translateY(-800px) rotate(600deg);
  }
}
.loader {
  position: relative;
  width: 70px;
  height: 70px !important;
  margin: 40% auto;
}
.loader.small {
  -webkit-transform: scale(.5);
  transform: scale(.5);
}
.loader.circle-line,
.loader.circle-round {
  position: absolute;
}
.loader.circle-round-fade span {
  -webkit-animation: circle-round-fade 1s ease infinite;
  animation: circle-round-fade 1s ease infinite;
}
.loader.circle-round span,
.loader.circle-round-fade span {
  position: absolute;
  width: .8rem;
  height: .8rem;
  display: inline-block;
  border-radius: 50%;
  background: green;
}
.loader.circle-round span:nth-child(1),
.loader.circle-round-fade span:nth-child(1) {
  top: 50%;
  left: 0;
  margin-top: -0.4rem;
  -webkit-animation-delay: -1.04s;
  animation-delay: -1.04s;
}
.loader.circle-round span:nth-child(2),
.loader.circle-round-fade span:nth-child(2) {
  top: .7rem;
  left: .7rem;
  -webkit-animation-delay: -0.91s;
  animation-delay: -0.91s;
}
.loader.circle-round span:nth-child(3),
.loader.circle-round-fade span:nth-child(3) {
  top: 0;
  left: 50%;
  margin-left: -0.4rem;
  -webkit-animation-delay: -0.78s;
  animation-delay: -0.78s;
}
.loader.circle-round span:nth-child(4),
.loader.circle-round-fade span:nth-child(4) {
  right: .7rem;
  top: .7rem;
  -webkit-animation-delay: -0.65s;
  animation-delay: -0.65s;
}
.loader.circle-round span:nth-child(5),
.loader.circle-round-fade span:nth-child(5) {
  right: 0;
  top: 50%;
  margin-top: -0.4rem;
  -webkit-animation-delay: -0.52s;
  animation-delay: -0.52s;
}
.loader.circle-round span:nth-child(6),
.loader.circle-round-fade span:nth-child(6) {
  bottom: .7rem;
  right: .7rem;
  -webkit-animation-delay: -0.39s;
  animation-delay: -0.39s;
}
.loader.circle-round span:nth-child(7),
.loader.circle-round-fade span:nth-child(7) {
  bottom: 0;
  left: 50%;
  margin-left: -0.4rem;
  -webkit-animation-delay: -0.26s;
  animation-delay: -0.26s;
}
.loader.circle-round span:nth-child(8),
.loader.circle-round-fade span:nth-child(8) {
  left: .7rem;
  bottom: .7rem;
  -webkit-animation-delay: -0.13s;
  animation-delay: -0.13s;
}
@keyframes circle-round {
  0% {
    opacity: .05;
  }
  100% {
    opacity: .7;
  }
}
@-webkit-keyframes circle-round {
  0% {
    opacity: .05;
  }
  100% {
    opacity: .7;
  }
}
@keyframes circle-round-fade {
  0% {
    opacity: .25;
    transform: scale(.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@-webkit-keyframes circle-round-fade {
  0% {
    opacity: .25;
    transform: scale(.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
#wrap4 {
  background: url(../img/love.png) no-repeat center 250px;
  z-index: 0;
  background-attachment: fixed;
  padding: 0;
  margin: 0;
  padding-bottom:200px;
}
#wrap4 .container {
  padding: 0;
  z-index: 1;
  background: #fff;
}
#wrap4 .aboutwe {
  padding: 0;
  margin: 0;
}
#wrap4 .aboutwe .we-title {
  font-size: 3em;
  margin: 10px 0;
  margin-bottom: 40px;
}
#wrap4 .aboutwe .we-content {
  margin: 0;
  padding: 0;
  background: #fff;
  z-index: 1;
}
#wrap4 .aboutwe .we-content .we-pic {
  cursor: pointer;
  height: 400px;
  padding: 20px 10px;
  position: relative;
  z-index: 2;
}
#wrap4 .aboutwe .we-content .we-pic .text-wrap {
  position: absolute;
  width: 93%;
  height: 360px;
  background: rgba(0,0,0,0.6);
  top: 20px;
  left: 10px;
  display: none;
  z-index: 1;
}
#wrap4 .aboutwe .we-content .we-pic .text-wrap .title {
  font-size: 1.1em;
  color: #fff;
  padding: 0px 10px;
  position: absolute;
  width: 100%;
  height: auto;
  top: 0px;
}
#wrap4 .aboutwe .we-content .we-pic .text-wrap .title .footer {
  font-size: 1em !important;
  color: #fff;
  padding: 20px 10px;
}
#wrap4 .aboutwe .we-content .we-pic .img-wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background: #fff;
  cursor: pointer;
  opacity: 0.95;
  z-index: 3;
}
#wrap4 .aboutwe .we-content .we-pic .img-wrap .title {
  position: absolute;
  width: 100%;
  height: 50px !important;
  font-size: 1em;
  text-align: center;
  top: 60%;
}
#wrap4 .aboutwe .we-content .we-pic img {
  border: 1px solid gainsboro;
  cursor: pointer;
  width: 100%;
  height: 100%;
  z-index: 1;
}
#wrap5 {
  z-index: 2 !important;
  width: 100%;
}
#wrap5 .row .title {
  font-size: 3em;
  text-align: center;
  margin: 50px 0;
  padding: 0;
}
#wrap5 .row .thumbnail {
  cursor: pointer;
  z-index: 3;
  padding: 5px 0;
}
#wrap5 .row .thumbnail img {
  height: 400px;
}
#wrap5 .row .thumbnail .caption {
  margin: 5px 0;
  opacity: 0.3;
}
#wrap5 .row .thumbnail .caption p {
  font-size: 1em;
  margin: 10px 0;
  line-height: 1.5em;
}
#wrap5 .row .thumbnail .caption p a {
  margin-top: 5px;
  margin-left: 10px;
}
#wrap6 {
  background: #fff;
  z-index: 2;
  width: 100%;
}
#wrap6 .row {
  position: relative;
}
#wrap6 .row .title {
  font-size: 3em;
  text-align: center;
  margin: 50px 0;
  padding: 0;
}
#wrap6 .row .title h4 {
  margin: 40px 0px 0 0;
}
#wrap6 .row .content {
  width: 100%;
  height: 300px;
  z-index: 2;
}
#wrap6 .row .content img {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.mapbox {
  margin: 0 auto;
  z-index: 3;
  width: 400px;
  height: 200px;
  line-height: 200px;
  text-align: center;
  font-size: 25px;
  color: #fff;
  position: relative;
  cursor: pointer;
}
.mapbox label {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #27AE60;
  font-family: "微软雅黑";
  font-weight: normal;
  background: #fff;
  z-index: 1;
}
.mapbox canvas {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 3;
  width: 400px;
  border: 1px solid #abcfa3;
}
#phone-menu .modal-backdrop {
  opacity: 1 !important;
  background: #000 !important;
}
#phone-menu ul {
  text-align: center;
  margin: 0;
  padding: 0;
}
#phone-menu ul li {
  list-style-type: none !important;
  margin-top: 20px;
  text-align: center;
}
#phone-menu ul li a {
  color: #fff;
  text-decoration: none;
}
#phone-menu ul li a:hover {
  text-decoration: none;
}
#phone-menu div {
  margin-top: 40px;
  text-align: center;
}
#phone-menu div span {
  color: #fff;
  margin-right: 10px;
  border: 1px solid #fff;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}
 #first .slide-button{z-index: 999 !important;}
 	.ui-effects-wrapper{z-index: 1 !important;}
